version: '3.1'

services:
  app:
    image: 'docker-spring-boot-postgres:latest'
    build:
      context: SysRes
    container_name: SysRes
    depends_on:
      - db
    environment:
      - DATABASE_URL=jdbc:postgresql://db:5432/SR
      - DATABASE_USERNAME=SR
      - DATABASE_PASSWORD=u!zEV2NY!k22tWk5
      - JPA_HIBERNATE_DDL_AUTO=update
    networks:
      - networks_container
  db:
    image: 'postgres:13.1-alpine'
    build:
      context: SysRes
    container_name: db
    environment:
      - POSTGRES_USER=SR
      - POSTGRES_PASSWORD=u!zEV2NY!k22tWk5
      - POSTGRES_DB=SR
    ports:
      - 5432:5432
    networks:
      - networks_container
networks:
  networks_container:
    ipam:
      config:
        - subnet: 172.21.0.0/16